/*
 *= require normalize-scss
 */

body
  font-family: 'Rubik', sans-serif
  -webkit-font-smoothing: antialiased
  font-feature-settings: "kern", "palt"

figure
  padding: 0
  margin: 0

ul
  padding: 0
  margin: 0

li
  list-style: none

img
  vertical-align: bottom

a
  color: #222222

#container
  padding: 30px

.lists
  display: flex
  flex-wrap: wrap
  margin: 0 -15px

  & > *
    box-sizing: border-box
    width: 33.333%
    padding: 0 15px 15px

    @media (max-width: 640px)
      width: 100%

.block

  figure
    overflow: hidden
    border-radius: 57% 43% 61% 39% / 34% 60% 40% 66%

    img
      width: 100%
      height: auto

  span
    font-size: 12px

  p
    margin: 0

  a
