<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title + " | " if title }}nor.ph</title>
  <meta property="og:locale" content="ja_JP">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ title + " | " if title }}nor.ph">
  <meta property="og:description" content="nor.ph | Noriyuki Shimizu">
  <meta property="og:url" content="https://nor.ph">
  <meta property="og:site_name" content="{{ title + " | " if title }}nor.ph">
  <meta property="og:image" content="https://nor.ph/og.png">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:title" content="{{ title + " | " if title }}nor.ph">
  <meta property="twitter:description" content="nor.ph | Noriyuki Shimizu">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153843226-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-153843226-1');
  </script>
</head>
<body>
  {% include 'header.njk' %}
  <div id="container">
    {{ content | safe }}
  </div>
  <script src="/javascripts/zoom-vanilla.min.js"></script>
</body>
</html>