<section class="about">
  <h2>Noriyuki Shimizu</h2>
  <dl>
    <dt>Links</dt>
    <dd>Twitter: <a href="https://twitter.com/Nori_rhy" target="_blank" rel="noopener">Nori_rhy</a></dd>
    <dd>Medium: <a href="https://medium.com/@norhythm" target="_blank" rel="noopener">@norhythm</a></dd>
    <dd>Instagram: <a href="https://www.instagram.com/noriyukishimizu/" target="_blank" rel="noopener">noriyukishimizu</a></dd>
  </dl>
</section>